h1 {
    font-family: Kenia;
}

body {
    background-image: url("kepek/Kiválasztott_fénykép.jfif");
}

label {
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
}
.kosar {
    color: white;
    border: 1px solid white;
}


